.star {
    margin: 12px;
    font-size: 60px;
  }
  
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .on {
    color: #ffd700;
  }
  
  .off {
    color: gainsboro;
  }